/* auht */
.vertical {
    float: left;
    width: 10%;
    overflow: hidden;
    .horizontal {
        width: 100%;
        height: 150px;
        position: relative;
        box-shadow: -1px 1px 0 1px #000000 inset, 0 0 50px rgba(0, 0, 0, 0.5) inset;
        overflow: hidden;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover!important;
    }
}
/* custom */
.c-auth {
    position: relative;
    height: 100vh;
    &::before {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        z-index: 1;
        box-shadow: 0 0 500px #000 inset,0 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .bg-efect {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .bg-container {
        position: absolute;
        z-index: 5;
        // height: 100%;
        overflow: hidden;
        overflow-y: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .container {
            max-width: 800px;
        }
    }
}

.container-auth {
    position: relative;
    .overlay-container {
        transition: transform 0.6s ease-in-out;
        z-index: 100;
        min-height: 500px;
        [class*='col-'] {
            background: #2d353c;
            background: rgba(45, 53, 60, 0.8);
            min-height: 500px;
        }
        .panel {
            padding: 15px;
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
        }
    }
    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
        background: black;
        padding: 15px;
        &.form-register {
            left: 0;
            width: 50%;
            z-index: 2;
            opacity: 0;
            transform: translateX(100%);
        }
        &.form-login {
            right: 0;
            width: 50%;
            z-index: 3;
            opacity: 1;
        }
        form {
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
        }
    }
    &.change {
        .form-container {
            &.form-register {
                opacity: 1;
                z-index: 3;
                transform: translateX(0%);
            }
            &.form-login {
                transform: translateX(-100%);
                z-index: 2;
                opacity: 0;
            }
        }
    }
}
/* end auth */


/* @font-face {
    font-family: "PT Sans Narrow";
    src: url(fonts/PTSansNarrow-Regular.ttf);
}
@font-face {
    font-family: "PT Sans Narrow Bold";
    src: url(fonts/PTSansNarrow-Bold.ttf);
} */
@font-face {
    font-family: "Rajdhani Light";
    src: url(fonts/Rajdhani-Light.ttf);
}
@font-face {
    font-family: "Rajdhani Medium";
    src: url(fonts/Rajdhani-Medium.ttf);
}
@font-face {
    font-family: "Rajdhani Regular";
    src: url(fonts/Rajdhani-Regular.ttf);
}
@font-face {
    font-family: "Rajdhani SemiBold";
    src: url(fonts/Rajdhani-SemiBold.ttf);
}
body {
    // font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Rajdhani Regular', sans-serif;
    color: white;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Rajdhani Regular', sans-serif;
}

h3 {
    font-size: 40px;
    margin-bottom: 15px;
}

p {
    line-height: 28px;
    margin-bottom: 10px;
}

a {
    font-size: 14px;
    line-height: 22px;
    padding: 0 7px;
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: all 300ms linear 0s;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

/* inputs */
.form-control {
    color: #fff;
    background: #252525;
    font-size: 16px;
    padding: 17px 15px;
    margin: 0;
    width: 100%;
    border: 0 none;
    outline: none;
    border-radius: 0;
    transition: all 300ms linear 0s;
    &:focus {
        color: #999;
        background-color: #252525;
        border-color: transparent;
        outline: 0;
        box-shadow: 0 0 5px 1px #861616;
    }
}

.form-group {
    .formulate-input-errors {
        .formulate-input-error {
            color: #a81c1c;
            font-weight: normal;
        }
    }
    .formulate-input {
        .formulate-input-element {
            max-width: 100%;
            input, textarea {
                border-radius: 0;
                color: #cecece;
                background: #252525;
                transition: all 300ms linear 0s;
                border: 1px solid #5d5d5d;
                &:focus {
                    border: 1px solid #0f4f22;
                }
            }
            .formulate-files {
                .formulate-file {
                    border-radius: 0;
                    color: #cecece;
                    background: #252525;
                    transition: all 300ms linear 0s;
                    border: 1px solid #5d5d5d;
                }
            }
        }
    }
}

.bg-dark {
    background-color: #000 !important;
}

/* buttons */
.btn {
    border-radius: 0;
    position: relative;
    vertical-align: middle;
    font-family: 'Rajdhani SemiBold', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 11px 20px;
    border: 0 none;
    outline: none;
    text-transform: uppercase;
    backface-visibility: hidden;
    display: inline-block;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    text-align: center;
    color: #fff;
    background: #000;
    font-weight: normal;
    line-height: normal;
    &::before {
        background: #FFFFFF;
        bottom: 0;
        content: "";
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0;
        transform: scaleX(0);
        transform-origin: 50% 50% 0;
        transition-duration: 0.5s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        z-index: -1;   
    }
    &:hover {
        color: #000;
        &::before {
            transform: scaleX(1);
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    }
    &.round {
        border-radius: 50px;
        &::before {
            border-radius: 50px;
        }
    }
    &.small {
        font-size: 14px;
        padding: 11px 20px;
    }
    &.medium {
        font-size: 16px;
        padding: 16px 20px;
    }
    &.large {
        font-size: 18px;
        padding: 21px 45px;
    }
    &.xlarge {
        font-size: 20px;
        padding: 25px 50px;
    }
    &.on {
        background: #fff;
        color: #000;
    }
    > i {
        margin-left: 10px;
    }
    &:focus, &:active {
        border: 0 none;
        outline: none;
        box-shadow: none;
    }
    &.btn-primary {
        background: #a81c1c;
        &:hover {
            color: #a81c1c;
        }
        &.on {
            background: #fff;
            color: #a81c1c;
            &:hover {
                &::before {
                    content: none;
                }
            }
        }
    }
    &.disabled {
        pointer-events: none;
    }
}

/* main navbar */
.main-nav {
    // position: absolute;
    top: 0;
    opacity: 1;
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all .5s;
    z-index: 99;
    box-shadow: 2px 0px 20px 3px #000;
    padding-top: 20px;
    padding-bottom: 20px;
    .navbar-nav {
        color: #c8ccd0;
        li {
            position: relative;
            .nav-link {
                position: relative;
                font-family: 'Rajdhani SemiBold', sans-serif;
                font-weight: bold;
                padding: 10px;
                font-size: 18px;
                text-transform: capitalize;
                transition: all .5s;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    color: transparent;
                    background-color: #861616;
                    height: 3px;
                    transition: all .5s;
                }
                &:hover {
                    color: #fff;
                    &::before {
                        width: 100%;
                    }
                }
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            &:not(:last-child) {
                margin-right: 15px;
            }
            &.active {
                .nav-link {
                    color: #fff;
                    &::before {
                        width: 100%;
                    }
                }
            }
            .nav-link-solid {
                &::before, &::after {
                    content: none;
                }
                background-color: #861616;
                border-radius: 25px;
                padding-left: 20px;
                padding-right: 20px;
                background-image: linear-gradient(180deg,hsla(0,0%,100%,0.3),hsla(0,0%,100%,0) 50%,rgba(0,0,0,0.12) 51%,rgba(0,0,0,0.04));
                font-size: 14px;
            }
            /* .nav-link {
                font-size: 12px;
                padding: 25px 30px;
                color: white;
                text-align: center;
                transition: all 300ms linear 0s;
                text-transform: uppercase;
                >i {
                    display: inline-block;
                    font-size: 43px;
                    left: 0;
                    margin: 0 auto;
                    opacity: 0;
                    position: absolute;
                    top: 30px;
                    visibility: hidden;
                    width: 100%;
                    transition: all 300ms linear 0s;
                    color: rgba(0, 0, 0, 0.3);
                }
                &::before, &::after {
                    display: inline-block;
                    opacity: 0;
                    top: -2px;
                    position: relative;
                    color: #a81c1c;
                    transition: all 300ms linear 0s;
                }
                &::before {
                    content: "[";
                    margin-right: 10px;
                    transform: translateX(20px);
                }
                &::after {
                    content: "]";
                    margin-left: 10px;
                    transform: translateX(-20px);
                }
                &.dropdown-toggle {
                    &::after {
                        content: '';
                        top: 0;
                    }
                }
            }
            &:hover, &.active {
                .nav-link {
                    background-color: white;
                    color: black;
                    >i {
                        font-size: 30px;
                        opacity: 0.5;
                        top: 50%;
                        transform: translateY(-50%);
                        visibility: visible;
                    }
                    &::before, &::after {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                }
            } */
        }
    }
    .dropdown-menu {
        border: 0 none;
        border-radius: 0;
        border-bottom: 3px solid #a81c1c;
        .dropdown-item {
            &:focus {
                background-color: transparent;
                border: 0 none;
                outline: none;
            }
            &.active, &:active {
                color: #000;
                background-color: transparent;
            }
            &:hover {
                color: white;
                background: #a81c1c;
            }
        }
    }
    &.sticky {
        position: fixed;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.top-alert {
    z-index: 1000;
    border: 0 none;
}
.common-banner {
    min-height: 160px;
    // padding-top: 95px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.65);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.slider-banner {
    margin-top: -95px;
}

.c-animate {
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    z-index: 1;
}
.c-animate2 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.c-banner {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    background-attachment: fixed;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.55);
    }
    h1 {
        color: white;
        font-family: 'Rajdhani SemiBold', sans-serif;
        font-size: 120px;
        line-height: 105px;
        font-weight: bold;
    }
    h4 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: lighter;
        span {
            font-family: 'Rajdhani SemiBold', sans-serif;
            font-weight: bold;
        }
    }
    .container {
        z-index: 2;
    }
}
.float-triangle {
    position: absolute;
    width: 100%;
    background: #a81c1c;
    height: auto;
    padding-bottom: 100%;
    left: -50%;
    transform: rotate(45deg);
    box-shadow: 0 0 20px 8px #070203;
}
.float-rectangle {
    width: calc(100% - 300px);
    height: 5px;
    background: #000;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    bottom: 50px;
}

// Parallax
.parallax-window {
    background: transparent;
    position: relative;
    z-index: -1;
}

.a-border {
    position: relative;
    &::before, &::after {
        content: '';
        border: 3px solid #000;
        bottom: 0;
        content: "";
        left: 0;
        margin: 15px;
        position: absolute;
        right: 0;
        top: 0;
    }
    &::before {
        margin: 25px;
    }
    &::after {
        margin: 16px;
    }
}

// content
.main-title {
    position: relative;
    margin-bottom: 50px;
    h2 {
        display: block;
        margin-bottom: 5px;
        line-height: normal;
        text-transform: uppercase;
        font-size: 60px;
    }
    p {
        font-style: italic;
    }
    &::before {
        background: url(images/title-line.png) no-repeat;
        bottom: -22px;
        content: "";
        display: block;
        float: left;
        height: 20px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
        background-position: center center;
    }
}

.c-details {
    h3 {
        font-size: 25px;
        margin: 0 0 5px;
        text-transform: uppercase;
    }
    p {
        color: rgba(255, 255, 255, 0.9);
        font-size: 12px;
        line-height: 18px;
    }
}
.c-carousel {
    .carousel-control-next {
        padding: 10px 10px 10px 12px;
    }
    .carousel-control-prev {
        padding: 10px 12px 10px 10px;
    }
    .carousel-control-prev, .carousel-control-next {
        background: black;
        top: 50%;
        bottom: auto;
        padding: 10px 10px 10px 12px;
        transform: translateY(-50%);
        width: auto;
        opacity: 1;
        transition: all 300ms linear 0s;
        &:hover {
            background: #fff;
            color: #000;
        }
    }
    .carousel-item {
        max-height: 235px;
    }
    &::before {
        content: '';
        border: 1px solid #fff;
        bottom: 0;
        left: 0;
        margin: 12px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}

/* footer */
.link {
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    &:hover {
        color: #a81c1c;
    }
}
.row-links {
    list-style-type: none;
    list-style-position: inside;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    li {
        display: inline;
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}
#footer {
    position: relative;
    .copyright {
        text-align: center;
        padding: 70px 0;
        width: 100%;
        a {
            text-transform: uppercase;
        }
        p {
            color: #46484c;
            font-size: 14px;
            width: 100%;
            font-weight: 700;
            text-transform: uppercase;
            a {
                color: rgba(255, 255, 255, 0.9);
            }
        }
    }
    &::before {
        background: url(images/title-line.png) repeat-x;
        content: "";
        height: 20px;
        position: absolute;
        width: 100%;
        top: 0;
    }
}

// animate
.add-float-img {
    position: relative;
    overflow-y: hidden;
    .c-img {
        position: absolute;
        left: 0;
        top: 0;
    }
}

// avatar
.avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
}

/* Sidebar */
.dash-content {
    padding-top: 50px;
    padding-left: 250px;
    transition: all .2s linear;
    main {
        padding: 30px;
        // background-color: #424242;
        background-color: #c8ccd0;
        min-height: 256px;
        // height: calc(100% - 50px);
        min-height: calc(100vh - 50px);
    }
}

.navbar-dash {
    position: fixed;
    background: #242b30;
    z-index: 99;
    left: 250px;
    top: 0;
    right: 0;
    transition: all .2s linear;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2), 0 0px 10px rgba(0,0,0,0.24);
    .navbar-nav {
        .nav-item {
            .nav-link {
                padding: 10px 15px;
                font-size: 16px;
            }
        }
    }
    .bar {
        font-size: 24px;
    }
    .dropdown-menu {
        padding: 0;
        max-height: 360px;
    }
    .notify-drop {
        min-width: 330px;
        background-color: #fff;
        border-radius: 0;
        .notify-drop-title {
            background-color: #861616;
            color: white;
            padding: 6px 10px;
        }
        .drop-content {
            max-height: 280px;
            overflow-y: auto;
            &::-webkit-scrollbar-track {
              background-color: #242b30;
            }
            &::-webkit-scrollbar {
              width: 8px;
              background-color: #242b30;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #861616;
            }
            .list-unstyled {
                a {
                    display: inline-block;
                    width: 100%;
                    color: #969a9e;
                    padding: 6px 10px;
                    background: #2d353c;
                    .media {
                        img {
                            width: 45px;
                            height: 45px;
                            object-fit: cover;
                            object-position: center;
                            margin-right: 10px;
                        }
                    }
                    &:hover {
                        background: #242b30;
                        color: white;
                    }
                }
                li:not(:last-child) {
                    border-bottom: 2px solid #242b30;
                }
            }
        }
    }
}

.sidebar {
    width: 250px;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    background: #2d353c;
    z-index: 100;
    transition: all .2s linear;
    letter-spacing: 1.5px;
    .side-scroll {
        position: relative;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        width: auto;
        height: 100%;
    }
    .nav-user {
        padding: 20px;
        color: #fff;
        background: #1a2229;
        position: relative;
        a {
            margin: -20px;
            padding: 20px;
            display: block;
            color: #fff;
            font-weight: 600;
            .cover {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-repeat: no-repeat;
                background-size: cover;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(26,34,41,.75);
                    transition: all .2s linear;
                }
            }
            .image {
                position: relative;
                margin-bottom: 8px;
                img {
                    width: 34px;
                    height: 34px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .info {
                font-size: 14px;
                position: relative;
                small {
                    display: block;
                    color: rgba(255,255,255,.75);
                    font-size: 12px;
                    margin-bottom: -5px;
                }
            }
            &:hover {
                .cover {
                    &::before{
                        opacity: .75;
                    }
                }
            }
        }
    }
    .list-group {
        border-radius: 0;
        .list-group-item {
            background: transparent;
            border: 0 none;
            color: #ffffff80;
            >i {
                margin-right: 5px;
            }
            &.active {
                background: #242b30;
                color: white;
                >i {
                    color: #861616;
                }
            }
            &.disabled {
                background: #242b3099;
            }
            &:hover, &:focus {
                color: white;
                background: #242b30;
            }
            &[data-toggle="collapse"] {
                &::after {
                    content: "\F054";
                    position: relative;
                    font-family: "FontAwesome";
                    float: right;
                    transition: all 0.2s linear;
                }
            }
            &[aria-expanded="true"] {
                &::after {
                    transform: rotate(90deg);
                    color: #861616;
                }
            }
        }
        .list-group {
            position: relative;
            padding: 0;
            padding-left: 40px;
            &::before {
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                background: #424242;
                top: -16px;
                left: 25px;
            }
            .list-group-item {
                padding: 5px 15px;
                position: relative;
                &::before {
                    content: '';
                    width: 15px;
                    height: 1px;
                    background: #424242;
                    position: absolute;
                    top: 15px;
                    left: -14px;
                }
                &::after {
                    content: "\f192";
                    position: absolute;
                    font-family: "FontAwesome";
                    left: 0;
                    color: #424242;
                    font-weight: 100;
                    transition: all 0.2s linear;
                }
                &:hover, &:focus, &.active {
                    background: transparent;
                    &::after {
                        color: #861616;
                    }
                }
            }
            span {
                margin-left: 8px;
            }
        }
    }
}

#minified {
    >i {
        transition: all .5s linear;
        &::before {
            transition: all .3s linear;
        }
    }
}

.sidebar-minified {
    position: relative;
    .navbar-dash {
        left: 0;
    }
    .sidebar {
        left: -250px;
    }
    .dash-content {
        padding-left: 0;
    }
    #minified>i{
        transform: rotate(180deg);
        &::before {
            content: '\F0C9';
        }
    }
}


/* Account */
.btn-picture {
    background: #a61c1c;
    font-size: 22px;
    padding: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover {
        box-shadow: 0 0 8px 3px #500d0d;
    }
}
.profile {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        background: linear-gradient(0deg, rgba(0,0,0,.9), rgba(0,0,0,.2));
    }
    .btn-picture {
        position: absolute;
        bottom: 12px;
        right: 12px;
    }
    img {
        width: 100%;
    }
}